<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-title list-group-item">
            BORROWER DETAILS</li>
        <hr>
        <li class="list-group-item">
            <a routerLink="/borrower-entity" routerLinkActive="active">Borrower Entity Name:</a>
   
        </li>
        <li class="list-group-item">
            <a routerLink="/" routerLinkActive="active">Flip Experience:</a>
         
        </li>
    </ul>
    <div class="borrower-summary-button">
        <a routerLink="/submitted" routerLinkActive="active">SUBMIT TO SHAPE</a>
    </div>
</div>
