<div class="container">
    <div class="question-container">
        <h1 class="header-text">Be confident, youre the expert</h1>
        <div class="divider"></div>
        <h1 class="question-text">
            Perfect! Well, We specialize in fix and flip AND rental financing...
            <br>
            Are there properties your looking to flip... OR... hold long term, as a rental?
        </h1>
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group">
                    <div style="display: flex; flex-direction: row;">
                        <div class="submit-button">
                            <a routerLink="/products" routerLinkActive="active">YES</a>
                        </div>
                        <div class="submit-button-none">
                            <a routerLink="/not-interested" routerLinkActive="active">NO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>