<div class="container">
    <div class="question-container">
        <h1 class="header-text">Get them excited to invest</h1>
        <div class="divider"></div>
        <h1 class="question-text">
            Okay, no problem. Let's schedule a time to connect?
            <br>
        </h1>
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group">
                    <div style="display: flex; flex-direction: row;">
                        <div class="submit-button-none">
                            <a routerLink="/products" routerLinkActive="active">SCHEDULE APPOINTMENT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>