<div class="container">
    <div class="question-container">
        <h1 class="header-text">Thank them and collect data</h1>
        <div class="divider"></div>
        <h1 class="question-text">
            {{data.funnel[1].response}}
        </h1>
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group">
                    <div style="display: flex; flex-direction: row;">
                        <div class="submit-button-none">
                            <a routerLink="/" routerLinkActive="active">APPOINTMENT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>