<div class="question-container">
    <h1 class="header-text">{{this.data.questions[22].header}}</h1>
    <h1 class="question-text">{{this.data.questions[22].question}}</h1>
    <div class="divider"></div>
    <div class="row">
        <div class="col-sm-10">
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4">
                    <div class="btn-group">
                        <div class="submit-button">
                            <a (click)="onItemSelector(true)" class="product-link" routerLink="/confirm-borrower-summary" routerLinkActive="active">YES</a>
                        </div>
                        <div class="submit-button-none">
                            <a (click)="onItemSelector(false)" class="product-link" routerLink="/confirm-borrower-summary" routerLinkActive="active">NO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>