<div class="container">
    <div style="display: flex; flex-direction: row;">
        <div class="question-container">
            <h1 class="header-text">MANAGERS</h1>
            <div class="divider"></div>
            <div class="row">
                <div class="col-sm-10">
                    <div style="margin-top: 15px;" class="row">
                        <div class="col-md-4">
                            <div class="btn-group">
                                <div class="nvestor-btn">
                                    <a style="color: #103952;" href="mailto: ras@nvestorfunding.com">RAS</a>
                                </div>
                                <div class="luxe-btn">
                                    <a style="color: #a49234;" href="mailto: steve@luxebanc.com">STEVE</a>
                                </div>
                                <div class="rvm-btn">
                                    <a style="color: #103952;" href="mailto: dana@luxebanc.com">DANA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="header-text">OPERATIONS</h1>
            <div class="divider"></div>
            <div class="row">
                <div class="col-sm-10">
                    <div style="margin-top: 15px;" class="row">
                        <div class="col-md-4">
                            <div class="btn-group">
                                <div class="nvestor-btn">
                                    <a style="color: #103952;" href="mailto: spencer@nvestorfunding.com">SPENCER</a>
                                </div>
                                <div class="luxe-btn">
                                    <a style="color: #a49234;" href="mailto: ecarias@luxebanc.com">EDGAR</a>
                                </div>
                                <div class="rvm-btn">
                                    <a style="color: #103952;" href="tel:8586022868">SHAUN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>